.footer {
    font-size: 18px;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    border-radius: 10px;
    margin: 0px auto;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

.footerContent {
    display: grid;
    grid-template-columns: 25% 50% 25%;
}


.footerMenu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.footerMenu li {
    display: inline-block;
    margin-right: 20px;
}

.footerMenu li:last-child {
    margin-right: 0;
}

.footerMenu a {
    color: #fff;
    text-decoration: none;
}

.socialIcons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.socialIcons li {
    display: inline-block;
    margin-right: 10px;
}

.socialIcons li:last-child {
    margin-right: 0;
}

.socialIcons a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.footerBottom {
    margin-top: 20px;
    text-align: center;
}

.footerBottom p {
    margin: 0;
}

@media (max-width: 768px) {
    .footer-content {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }

    .footer-menu {
        text-align: left;
    }

    .footer-menu li {
        display: block;
        margin-bottom: 10px;
    }
}